@using CvProject.Models.Entities
@model List<Hobby>

<section class="resume-section" id="interests">
	<div class="resume-section-content">
		<h2 class="mb-5">Hobilerim</h2>
		@foreach (var item in Model)
		{
			<div>
			<p>@item.Description  / @item.Description2</p> 
			</div>

		}

	</div>
</section>



