@using CvProject.Models.Entities
@model List<SocialMedia>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<section class="content">
			<div class="container-fluid">
				<div class="row ">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Sosyal Medya Listesi</h3>
							</div>
							<div class="card-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th style="width: 10px">#</th>
											<th>Ad</th>
											<th>Düzenle</th>
											<th>Sil</th>
										</tr>
									</thead>

									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td>@item.Id</td>
												<td>@item.SocialMediaName</td>
												<td>
													<a href="/SocialMedia/Update/@item.Id" class="btn btn-info btn-sm">
														<i class="fas fa-pencil-alt">
														</i>
														Düzenle
													</a>
												</td>
												<td>
													<a href="/SocialMedia/Delete/@item.Id" class="btn btn-danger btn-sm">
														<i class="fas fa-trash">
															
														</i>
														Sil
														
													</a>
												</td>
											</tr>

										}
									</tbody>
								</table>
								<br />
								<button class="btn btn-info" data-toggle="modal" data-target="#Modal1">Sosyal Medya Ekle</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="modal" id="Modal1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Sosyal Medya Ekleme Paneli</h2>
					</div>
					<form method="post" action="/SocialMedia/Add/">
						<div class="modal-body">
							<label>Sosyal Medya İsmi</label>
							<input type="text" name="SocialMediaName" class="form-control" />
							<br />
							<label>Sosyal Medya Linki</label>
							<input type="text" name="Link" class="form-control" />
							<br />
							<label>İkon Değeri</label>
							<input type="text" name="Icon" class="form-control" />
							<br />
							<button class="btn btn-info">Kaydet</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>




