@model CvProject.Models.Entities.Certificate
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<form method="post" class="col md-12">
    <h2>Sertifika Güncelleme Sayfası</h2>
    <br />

    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info ">Güncelle</button>
    <a href="/Certificate/Delete/@ViewBag.d" class="btn btn-danger">Sil</a>
</form>




