@using CvProject.Models.Entities
@model List<Project>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="tab-pane" id="timeline">
								<div class="timeline timeline-inverse">
									@foreach (var item in Model)
									{

										<div class="time-label">
											<a href="/Project/Update/@item.Id" class="btn btn-info">
												<span class="bg-info">
													@item.ProjectName
												</span>
											</a>
										</div>
										<div>
											<div class="timeline-item">
												<div class="timeline-body">
													<a class="social-icon" href="@item.ProjectUrl">@item.ProjectUrl</a>
												</div>
											</div>
										</div>
									}
								</div>
								<a href="/Project/Add/" class="btn btn-success">Sertifika Ekle</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>




