@using CvProject.Models.Entities
@model List<Skill>
<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mb-5">Yeteneklerim</h2>
		<div class="subheading mb-3">Kullanılan Teknolojiler</div>
		<ul class="fa-ul mb-0">
			@foreach (var item in Model)
			{
				<li>
					<span class="fa-li"><i class="fas fa-check"></i></span>
					@item.Skill1
				</li>
			}
		</ul>
	</div>
</section>

